@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html[data-theme="dark"] {
  --bg-color: #0a0a0a;
  --text-color: #ededed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-fahkwang);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.waveLogin path {
  animation: oceanWave 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.waveLogin path:nth-child(2) {
  animation-delay: 1s;
}
.waveLogin path:nth-child(3) {
  animation-delay: 3s;
}
.waveLogin path:nth-child(4) {
  animation-play-state: 2s;
}

@keyframes oceanWave {
  0% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
  25% {
    d: path(
      "M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 500 L0 500"
    );
  }
  50% {
    d: path(
      "M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 500 L0 500"
    );
  }
  75% {
    d: path(
      "M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 500 L0 500"
    );
  }
  100% {
    d: path(
      "M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500"
    );
  }
}

.swiper-pagination {
  position: revert !important;
}

.swiper-pagination-bullet {
  background: #fdb022 !important;
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background: #fdb022 !important;
  width: 16px !important;
  height: 16px !important;
}

.ant-radio-wrapper {
  color: #ffffff !important;
  font-weight: 700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
